* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

button {
    cursor: pointer;
    outline: none;
}

.color_yel {
    padding: 0px 5px;
    color: #FFC1B0;
}

/* blur */
.second {
    backdrop-filter: blur(5px) !important;
}

.second::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #030238bc;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}

/* mob */
@media screen and (min-width:300px) and (max-width: 760px) {
    .frist {
        background-image: url(/media/background.avif);
        background-position: center;
        background-size: cover;
    }

    .mob-main-person {
        margin-top: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frist_img {
        display: none;
    }

    .frist_text_navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 30px;
        gap: 10px;
    }

    .frist_text_navbar_p1 {
        text-align: center;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }

    .frist_text_navbar_p2 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #FFC1B0;
    }

    .mob-main-person img {
        width: 100%;
        height: auto;
        max-width: 70%;
    }

    .frist_text_text {
        padding-top: 15px;
    }

    .frist_text_text_p1 {
        padding-bottom: 10px;
        line-height: 1.2;
        font-size: clamp(17px, 5.4vw, 72px);
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .frist_text_text_p2 {
        padding: 10px;
        margin: 0px 15px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid;
        color: #fff;
        font-weight: 500;
        font-size: clamp(13px, 4vw, 48px);
        line-height: 1.2;

    }

    .frist_text_text_p2 br {
        display: none;
    }

    .frist_text_button {
        width: 100%;
    }

    .frist_text_button_butt {
        display: flex;
        justify-content: center;
    }

    .frist_text_button button {
        width: 100%;
        margin: 0px 5px;
        letter-spacing: -1px;
        font-size: clamp(16px, 7vw, 60px);
        color: #000;
        border-radius: 30px;
        border: 1px solid #fff;
        font-weight: 700;
        background-color: #FFC1B0;
        border-radius: 50px;
        padding: clamp(18px, 4vw, 60px);
    }

    .frist_text_button_tex p {
        text-align: center;
        margin: 10px 50px;
        padding-bottom: 10px;
        color: #fff;
        line-height: 1.1;
        font-weight: 500;
        font-size: clamp(12px, 3vw, 60px);
    }

    /* second */
    .second {
        background-position: center;
        background-size: cover;
        background-image: url(../media/sec-back.avif);
        padding: 30px;
    }

    .second_text p {
        color: #fff;
        font-weight: 700;
        font-size: clamp(0.1rem, 8vw, 5rem);
        text-align: center;
    }

    .second_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        gap: 20px;
    }

    .second_boxes {
        border-radius: clamp(18px, 3vw, 35px);
        position: relative;
        display: flex;
        align-items: center;
        padding-left: clamp(28px, 9vw, 40px);
        padding-top: clamp(10px, 9vw, 20px);
        padding-bottom: clamp(10px, 9vw, 20px);
        border: 1px solid #fff;
        background-color: #01143F;
    }

    .second_box_num {
        display: none;
        position: absolute;
        left: -20px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: 20px;
    }

    .second_box_num_mob {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: -20px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 600;
    }

    .second_boxes {
        font-size: clamp(16px, 4vw, 80px);
    }

    .second_boxes p {
        color: #fff;
    }

    .second_box_last {
        display: flex;
        justify-content: center;
    }

    .second_box_last_num {
        position: absolute;
        left: -20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: clamp(25px, 5vw, 80px);
    }

    .second_box_num_mob {
        font-size: clamp(25px, 5vw, 80px);
    }

    .second_box_last_box {
        width: 100%;
        border-radius: clamp(18px, 3vw, 35px);
        position: relative;
        display: flex;
        align-items: center;
        padding-left: clamp(28px, 9vw, 40px);
        padding-top: clamp(10px, 9vw, 20px);
        padding-bottom: clamp(10px, 9vw, 20px);
        border: 1px solid #fff;
        background-color: #01143F;
        margin-top: 20px;
    }

    .second_box_last_box p {
        font-size: (16px, 2.4vw, 40px);
        color: #fff;
    }

    .second_box_last_box {
        font-size: clamp(16px, 5vw, 80px);
        position: relative;
    }

    /* thrid */
    .third {
        padding: 80px 0px;
        background-position: center;
        background-size: cover;
        background-image: url(../media/background.avif);
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .third_text p {
        padding-bottom: 50px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: clamp(18px, 5vw, 30px);
    }

    .third_button_butt {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third_button_butt button {
        padding: 10px;
        letter-spacing: -1px;
        font-size: clamp(20px, 4.6vw, 72px);
        color: #000;
        border-radius: 30px;
        border: 1px solid #fff;
        font-weight: 700;
        background-color: #FFC1B0;
        border-radius: 50px;
        padding: 15px 75px;
    }

    .third_button_text {
        margin-top: 20px;
    }

    .third_button_text p {
        font-size: clamp(14px, 4vw, 20px);
        text-align: center;
        font-weight: 300;
        color: #fff;
    }
}

@media screen and (min-width:760px) and (max-width: 1100px) {

    .frist {
        background-color: #01143ffa !important;
        background-image: url(../media/background.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh; 
    }

    .frist_back {
        position: relative;
    }

    .frist_text {
        position: relative;
    }

    .mob-main-person {
        padding: 30px 40px 0px 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mob-main-person img {
        width: 100%;
        height: auto;
        max-width: 60%;
    }

    .frist_img {
        display: none;
    }

    .frist_img img {
        position: absolute;
        width: 1100px;
        bottom: 0px;
        right: 0px;
    }

    .frist_text_navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 30px;
        gap: 10px;
    }

    .frist_text_navbar_p1 {
        text-align: center;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }

    .frist_text_navbar_p2 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #FFC1B0;
    }

    .frist_text_text {
        padding-top: 25px;
    }

    .frist_text_text_p1 {
        padding-bottom: 30px;
        line-height: 1.2;
        font-size: clamp(17px, 5.4vw, 72px);
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .frist_text_text_p2 {
        padding: 10px;
        margin: 0px 30px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid;
        color: #fff;
        font-weight: 500;
        font-size: clamp(13px, 4vw, 48px);
        line-height: 1.2;

    }

    .frist_text_text_p2 br {
        display: none;
    }

    .frist_text_button {
        width: 100%;
    }

    .frist_text_button_butt {
        display: flex;
        justify-content: center;
    }

    .frist_text_button button {
        width: 60%;
        padding: 30px 70px;
        font-size: clamp(2rem, 5vw, 12rem);
        color: #000;
        border-radius: 30px;
        border: 1px solid #fff;
        font-weight: 700;
        background-color: #FFC1B0;
        border-radius: 50px;
    }

    .frist_text_button_tex {
        display: flex;
        justify-content: center;
    }

    .frist_text_button_tex p {
        width: 50%;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 20px;
        color: #fff;
        line-height: 110%;
        font-weight: 500;
        font-size: clamp(0.4rem, 3vw, 5rem);
    }

    /* second */
    .second {
        background-position: center;
        background-size: cover;
        background-image: url(../media/sec-back.avif);
        padding: 30px 50px;
    }

    .second_text p {
        color: #fff;
        font-weight: 700;
        font-size: 50px;
        text-align: center;
    }

    .second_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        gap: 30px;
    }

    .second_boxes {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 45px;
        border-radius: 35px;
        border: 1px solid #fff;
        background-color: #01143F;
    }

    .second_box_num {
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: -20px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: 20px;
    }

    .second_box_num_mob {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: -20px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: clamp(2rem, 2vw, 5rem);
    }

    .second_boxes p {
        padding: 20px 0px;
        font-size: clamp(1.5rem, 2vw, 5rem);
        color: #fff;
    }

    .second_box_last {
        display: flex;
    }

    .second_box_last_num {
        position: absolute;
        left: -20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: clamp(2rem, 2vw, 5rem);
    }

    .second_box_last_box {
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        height: 115px;
        padding: 0px 40px 0px 30px;
        border-radius: 35px;
        border: 1px solid #fff;
        background-color: #01143F;
    }

    .second_box_last_box p {
        font-size: clamp(1.5rem, 2vw, 5rem);
        padding: 20px 40px 20px 10px;
        color: #fff;
    }

    .second_box_last_box {
        margin-top: 20px;
        position: relative;
    }

    /* thrid */
    .third {
        padding: 80px 0px;
        background-position: center;
        background-size: cover;
        background-image: url(../media/background.avif);
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .third_text p {
        padding-bottom: 50px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 35px;
    }

    .third_button_butt {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third_button_butt button {
        padding: 10px;
        letter-spacing: -1px;
        font-size: 40px;
        color: #000;
        border-radius: 30px;
        border: 1px solid #fff;
        font-weight: 700;
        background-color: #FFC1B0;
        border-radius: 50px;
        padding: 25px 80px;
    }

    .third_button_text {
        margin-top: 20px;
    }

    .third_button_text p {
        font-size: 20px;
        text-align: center;
        font-weight: 300;
        color: #fff;
    }
}

@media screen and (min-width: 1100px) and (max-width: 3000px) {

    /* mobile */
    .mob-main-person {
        display: none;
    }

    /*  */
    .container {
        max-width: 1600px;
        margin: auto;
    }

    .frist {
        background-color: #01143ffa !important;
        background-image: url(../media/background.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .frist_back {
        padding-left: 60px;
        position: relative;
    }

    .frist_text {
        position: relative;
    }

    .frist_img img {
        position: absolute;
        height: clamp(300px, 60vw, 800px);
        bottom: 0px;
        right: 0px;
    }

    .frist_text_navbar {
        padding-top: 67px;
        display: flex;
        align-content: center;
        gap: 80px;
    }

    .frist_text_navbar_p1 {
        padding: 5px 30px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-weight: 500;
        font-size: 48px;
        color: #fff;
    }

    .frist_text_navbar_p2 {
        font-size: 48px;
        font-weight: 500;
        color: #FFC1B0;
    }

    .frist_text_text {
        width: 70%;
        padding-top: 50px;
    }

    .frist_text_text_p1 {
        padding-bottom: 30px;
        line-height: 110%;
        font-size: clamp(1rem, 4vw, 3.2rem);
        font-weight: 500;
        color: #fff;
    }

    .frist_text_text_p2 {
        width: clamp(40%, 90vw, 70%);
        padding: 5px 0px 5px 20px;
        border-radius: 30px;
        border: 1px solid;
        color: #fff;
        font-weight: 500;
        font-size: 32px;
        line-height: 110%;
    }

    .frist_text_button {
        margin-top: 70px;
        width: 40%;
    }

    .frist_text_button button {
        padding: 30px 80px;
        letter-spacing: -1px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: #000;
        border-radius: 30px;
        border: 1px solid #fff;
        background-color: #FFC1B0;
    }

    .frist_text_button_tex p {
        margin-top: 10px;
        padding-bottom: 120px;
        color: #fff;
        line-height: 110%;
        font-weight: 500;
        font-size: 32px;
    }

    /* second */
    .second {
        background-position: center;
        background-size: cover;
        background-image: url(../media/sec-back.avif);
        padding: 40px;
    }

    .second_text p {
        color: #fff;
        font-weight: 700;
        font-size: 74px;
        text-align: center;
    }

    .second_box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        margin: 0px 70px;
    }

    .second_boxes {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0px 0px 20px 50px;
        height: 150px;
        padding: 0px 40px;
        border-radius: 35px;
        border: 1px solid #fff;
        background-color: #01143F;
    }

    .second_box_num {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: -25px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: 40px;
    }

    .second_box_num_mob {
        display: none;
    }

    .second_boxes p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: #fff;
    }

    .second_box_last {
        display: flex;
        justify-content: center;
    }

    .second_box_last_num {
        position: absolute;
        left: -20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #FFC1B0;
        color: #000;
        font-weight: 700;
        font-size: 30px;
    }

    .second_box_last_box {
        display: flex;
        align-items: center;
        margin: 0px 60px 20px 0px;
        height: 162px;
        padding: 10px 30px;
        border-radius: 35px;
        border: 1px solid #fff;
        background-color: #01143F;
    }

    .second_box_last_box p {
        font-size: 34px;
        color: #fff;
    }

    .second_box_last_box {
        position: relative;
    }

    /* thrid */
    .third {
        padding: 150px 0px;
        background-position: center;
        background-size: cover;
        background-image: url(../media/background.avif);
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .third_text p {
        padding-bottom: 120px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 70px;
    }

    .third_button_butt {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third_button_butt button {
        padding: 50px 160px;
        font-size: 75px;
        border-radius: 50px;
        border: 1px solid #fff;
        background: none;
        color: #000;
        font-weight: 500;
        background-color: #FFC1B0;
    }

    .third_button_text {
        margin-top: 40px;
    }

    .third_button_text p {
        font-size: 48px;
        text-align: center;
        font-weight: 300;
        color: #fff;
    }
}